/* This is the css files for all the buttons that might be used -: */
.BlueButton{
   background-color: #1B31A8;
   width: 10%;
   height: 6vh;
   border-radius: 85px;
   text-align: center;
}
h3{
    color: white;
}
.Content{
   display: table-column;
}