.MapBox{
    height: 50vh;
    width: 70%;
    margin: 25% 20% 0 10%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
input::placeholder{
    background-color: cadetblue;
}
.Content{
    margin: 10% auto;
}