.TextFieldBox{
    display: table-row;
}
.TextField1{
    width: 20%;
    height: 6%;
    margin: 2% auto;
    position: fixed;
    border-radius: 10px;
    text-align: center;
}
.TextField2{
    position: fixed;
    width: 20%;
    height: 6%;
    margin: 12% auto;
    border-radius: 10px;
    text-align: center;
}
.TextField1::placeholder{
    background-color: white;
    text-align: center;
}
.TextField2::placeholder{
    background-color: white;
    text-align: center;
}
.icon{
    position: relative;
}
label{
    position: fixed;
    opacity: 0.5;
}
.DestinationLabel{
    margin-top: 10%;
    opacity: 0.5;
}
